* {
    primary: #fc804f;
    primary-fixed: #fec9b4;
    primary-fixed-dim: #fda582;
    on-primary: #1f1714;
    on-primary-fixed: #2c2421;
    on-primary-fixed-variant: #3b302b;
    primary-container: #992b00;
    on-primary-container: #fedbcd;
    secondary: #fcd447;
    secondary-fixed: #feedb4;
    secondary-fixed-dim: #fde282;
    on-secondary: #251c18;
    on-secondary-fixed: #2c2921;
    on-secondary-fixed-variant: #3b372b;
    secondary-container: #907100;
    on-secondary-container: #fffcf3;
    tertiary: #c9fc47;
    tertiary-fixed: #e9feb4;
    tertiary-fixed-dim: #dafd82;
    on-tertiary: #251c18;
    on-tertiary-fixed: #292c21;
    on-tertiary-fixed-variant: #363b2b;
    tertiary-container: #689000;
    on-tertiary-container: #f0fecd;
    error: #fc7a47;
    on-error: #191311;
    error-container: #902900;
    on-error-container: #fedbcd;
    surface: #291a14;
    on-surface: #f3f2f2;
    on-surface-variant: #b6b1af;
    outline: #74655f;
    outline-variant: #74655f;
    shadow: #291a14;
    scrim: #000000;
    inverse-surface: #e8e5e3;
    inverse-on-surface: #282524;
    inverse-primary: #b54417;
    surface-dim: #1c110d;
    surface-bright: #533428;
    surface-container-lowest: #150d0a;
    surface-container-low: #221611;
    surface-container: #452b21;
    surface-container-high: #3e271e;
    surface-container-highest: #4c3025;
}
