* {
    primary: #67d2e4;
    primary-fixed: #beecf4;
    primary-fixed-dim: #93dfec;
    on-primary: #182325;
    on-primary-fixed: #212a2c;
    on-primary-fixed-variant: #2b383b;
    primary-container: #0c7a8d;
    on-primary-container: #edf4f5;
    secondary: #5c85d6;
    secondary-fixed: #bed0f4;
    secondary-fixed-dim: #96b2e9;
    on-secondary: #182325;
    on-secondary-fixed: #21242c;
    on-secondary-fixed-variant: #2b313b;
    secondary-container: #10306f;
    on-secondary-container: #dfe4ec;
    tertiary: #7566cc;
    tertiary-fixed: #c6bef4;
    tertiary-fixed-dim: #a296e9;
    on-tertiary: #182325;
    on-tertiary-fixed: #22212c;
    on-tertiary-fixed-variant: #2e2b3b;
    tertiary-container: #221669;
    on-tertiary-container: #e1dfec;
    error: #fd4663;
    on-error: #182325;
    error-container: #900017;
    on-error-container: #fecdd4;
    surface: #172126;
    on-surface: #f2f3f3;
    on-surface-variant: #afb5b6;
    outline: #5b6d6f;
    outline-variant: #5c6d70;
    shadow: #172126;
    scrim: #000000;
    inverse-surface: #e3e7e8;
    inverse-on-surface: #242828;
    inverse-primary: #338a99;
    surface-dim: #0f1619;
    surface-bright: #2e434c;
    surface-container-lowest: #0c1113;
    surface-container-low: #131c20;
    surface-container: #263840;
    surface-container-high: #233239;
    surface-container-highest: #2a3d46;
}
