* {
    primary: #ff9e4d;
    primary-fixed: #ffd5b2;
    primary-fixed-dim: #ffba80;
    on-primary: #251e18;
    on-primary-fixed: #2c2621;
    on-primary-fixed-variant: #3b322b;
    primary-container: #9a4600;
    on-primary-container: #ffe3cc;
    secondary: #fff84c;
    secondary-fixed: #fffcb2;
    secondary-fixed-dim: #fffa80;
    on-secondary: #251e18;
    on-secondary-fixed: #2c2c21;
    on-secondary-fixed-variant: #3b3a2b;
    secondary-container: #999300;
    on-secondary-container: #fffdcc;
    tertiary: #adff4c;
    tertiary-fixed: #dcffb2;
    tertiary-fixed-dim: #c5ff80;
    on-tertiary: #251e18;
    on-tertiary-fixed: #272c21;
    on-tertiary-fixed-variant: #343b2b;
    tertiary-container: #539900;
    on-tertiary-container: #e8ffcc;
    error: #ff9e4c;
    on-error: #251e18;
    error-container: #994600;
    on-error-container: #ffe3cc;
    surface: #291e14;
    on-surface: #f3f2f2;
    on-surface-variant: #b6b2af;
    outline: #73685e;
    outline-variant: #73685e;
    shadow: #291e14;
    scrim: #000000;
    inverse-surface: #e8e5e3;
    inverse-on-surface: #282624;
    inverse-primary: #b85f14;
    surface-dim: #1c140d;
    surface-bright: #533c28;
    surface-container-lowest: #150f0a;
    surface-container-low: #221911;
    surface-container: #453221;
    surface-container-high: #3e2d1e;
    surface-container-highest: #4c3725;
}
