config/niku/Color-Generator/command/
config/btop/themes/btop-colors.theme
config/cava/config
config/gtk-3.0/colors.css
config/gtk-3.0/settings.ini
config/gtk-4.0/colors.css
config/kitty/colors.conf
config/kitty/kitty.conf
config/niku/configs/hypr/colors/hyprlock-color.conf
config/niku/scripts/bash/toggle-color-mode.sh
config/niri/colors/niri-colors.kdl
config/niri/presets/config-keybind.kdl
config/nwg-look/config
config/rofi/colors.rasi
config/rofi/images/currentWal.webp
config/rofi/images/currentWalBlur.webp
