config/niku/Color-Generator/command/
config/btop/themes/btop-colors.theme
config/cava/config
config/gtk-3.0/colors.css
config/gtk-4.0/colors.css
config/kitty/colors.conf
config/kitty/kitty.conf
config/niku/configs/hypr/colors/hyprlock-color.conf
config/niri/colors/niri-colors.kdl
config/rofi/colors.rasi
config/rofi/images/currentWal.webp
config/rofi/images/currentWalBlur.webp
config/waybar/config.jsonc
config/waybar/.current_theme
config/waybar/style.css
config/yazi/flavors/niku.toml
config/waybar/colors/colors.css
install.log


