layout {

    focus-ring {
        active-color   "#fc804f"
        inactive-color "#291a14"
        urgent-color   "#fc7a47"
    }

    border {
        active-color   "#fc804f"
        inactive-color "#291a14"
        urgent-color   "#fc7a47"
    }

    shadow {
        color "#291a1470"
    }

    tab-indicator {
        active-color   "#fc804f"
        inactive-color "#992b00"
        urgent-color   "#fc7a47"
    }

    insert-hint {
        color "#fc804f80"
    }
}

recent-windows {
    highlight {
        active-color "#fc804f"
        urgent-color "#fc7a47"
    }
}
