layout {

    focus-ring {
        active-color   "#ff9e4d"
        inactive-color "#291e14"
        urgent-color   "#ff9e4c"
    }

    border {
        active-color   "#ff9e4d"
        inactive-color "#291e14"
        urgent-color   "#ff9e4c"
    }

    shadow {
        color "#291e1470"
    }

    tab-indicator {
        active-color   "#ff9e4d"
        inactive-color "#9a4600"
        urgent-color   "#ff9e4c"
    }

    insert-hint {
        color "#ff9e4d80"
    }
}

recent-windows {
    highlight {
        active-color "#ff9e4d"
        urgent-color "#ff9e4c"
    }
}
